<%= form_with url: flights_path, method: :get, local: true do |f| %>
  <div class="row-span-6 grid lg:grid-cols-4 border-solid border-2 border-sky-500">
    <div class="mt-2 border-solid border-2 border-sky-500">
      <h3>Departure Airports</h3>
      <%= f.select :departure_airport, options_for_select(@departure_airports), prompt: "Select Departure Airport" %>
    </div>

    <div class="mt-2 border-solid border-2 border-sky-500">
      <h3>Arrival Airports</h3>
      <%= f.select :arrival_airport, options_for_select(@arrival_airports), prompt: "Select Arrival Airport"%>
    </div>

    <div class="mt-2 border-solid border-2 border-sky-500">
      <h3>Number of passengers </h3>
      <%= f.select :passengers, options_for_select(1..4), prompt: "Select Number of Passengers" %>
    </div>

    <div class="mt-2 border-solid border-2 border-sky-500">
      <h3>Date of Flight</h3>
      <%= f.select :departure_time, options_for_select(flight_date), prompt: "Select Departure Date" %>
    </div>
  </div>
  <div class="mt-2 container row-span-2 flex justify-center border-solid border-2 border-sky-500">
    <%= f.submit "Search Flights", class: "mt-4 px-4 py-2 bg-blue-500 text-white" %>
  </div>
<% end %>