<h3>FOO</h3>
<h3>Flight Booking for: <%= @flight.flight_number%></h3>
<h3>Travel Time: <%= @flight.flight_duration %>Hrs</h3>
<h3>Departure Airport:<%= @flight.departure_airport.airport_code %></h3>
<h3>Arrival Airport:<%= @flight.arrival_airport.airport_code %></h3>
<h3>Number of tickets: <%= params[:passengers]%></h3>
<%= form_with(model: @booking, local: true) do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <%= f.hidden_field :passenger_id, value: params[:passengers] %>

  <h2>Passengers:</h2>
  <%= f.fields_for :passengers do |passenger| %>
    <%= passenger.label :name, "Name:" %>
    <%= passenger.text_field :name%>
    <%= passenger.label :email, "Email:" %>
    <%= passenger.text_field :email%>
  <% end %>
  <%= f.submit "Create Booking", class: "mt-4 px-4 py-2 bg-blue-500 text-white" %>
<% end %>